.header ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    background-color: #0c0b0e;
    padding: 4px 24px;
    font-size: 1rem;
    cursor: pointer;
    color: #ffffff;

}

li {
    color: #ffffff;
    padding: 24px;

}